@charset "UTF-8";

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 400px; /* Largura do conteúdo. */
    height: 400px; /* Altura do conteúdo. */
    border-collapse: collapse; /* Determinar a fusão das bordas do conteúdo. */
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Alinhamento horizontal. */
    vertical-align: top; /* Alinhamento vertical. */
}