@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

col.cname {
    background-color: lightslategray;
}