@charset "UTF-8";

body { /* Ajustes no corpo da página. */
    background-image: url("../image/wallpaper001.jpg");
}

div.container { /* Ajuste das condições do container de caixas. */
    display: flex; /* Define que conteúdo dentro do container seja flexivél. */
    justify-content: center; /* Centraliza o conteúdo dentro da div(container), exemplo: outras div's/caixas, horizontalmente. */
    gap: 10px; /* Define o espaço entre uma caixa e outra dentro do container. */
}
div.quadrado { /* Ajustes das condições das caixas dentro do container. */
    display: flex;
    align-items: center; /* Centraliza o conteúdo dentro da div(exemplo: texto e imagens) verticalmente. */
    justify-content: center; /* Centraliza o conteúdo dentro da div(exemplo: texto e imagens) horizontalmente. */
    width: 300px; /* Largura da caixa. */
    height: 300px; /* Altura da caixa. */
    border: 2px solid black; /* Definição do tamanho da borda, tipo da borda e cor da borda. */
    border-radius: 10px; /* Arredondamento dos cantos da borda. */
    background-color: lightgray; /* Cor de fundo interno da caixa. */
    font-family: Arial, Helvetica, sans-serif; /* Tipo de fonte do texto interno da caixa. */
    font-size: 1rem; /* Tamanho da fonte interna da caixa. */
}

div#q1 {
    background-color: darkcyan; /* Define a cor de fundo da página. */
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, red); /* Cria uma imagem de fundo baseada no efeito definido. Usado para criar efeito degradê. */
}

div#q3 {
    background-image: url("../image/pattern003.png"); /* Define um arquivo de imagem como fundo da página. */
}