@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}

header {
    text-align: center;
}

main h2 {
    text-indent: 1rem;
}

main p {
    text-indent: 5rem;
}
